/* styles.css */

/* Targeting the h1 element */
body {
    background-color: #C7C7C7;
}
h1 {
    font-family: sans-serif; /* Set font family */
    color: #333; /* Set text color */
    font-size: 36px; /* Set font size */
    text-align: center; /* Center align text */
    margin-top: 20px; /* Add top margin */
}

/* Styling the h2 element */
h2 {
    font-family: sans-serif; /* Set font family */
    color: #666; /* Set text color */
    font-size: 24px; /* Set font size */
    text-align: center; /* Center align text */
    margin-bottom: 20px; /* Add bottom margin */
}

/* Styling the h3 element */
h3 {
    font-family: sans-serif; /* Set font family */
    color: #000000; /* Set text color */
    font-size: 24px; /* Set font size */
    margin-bottom: 20px; /* Add bottom margin */
}



/* Styling the text input */
#text-input {
    width: 300px; /* Set width */
    padding: 10px; /* Add padding */
    font-size: 16px; /* Set font size */
    margin: 20px auto; /* Center align horizontally */
    display: block; /* Make it block-level */
    border: 1px solid #ccc; /* Add border */
    border-radius: 4px; /* Add border radius */
}

/* Common styles for all input boxes */
.common-style {
    padding: 10px;
    font-size: 16px;
    border: 2px solid black;
    border-radius: 5px;
    width: 300px; /* Common width */
    color: #ABABAB;
}

.common-style:focus {
    outline: none; /* Remove default focus style */
    border-color: #C6C6C6; /* Change border color on focus */
}

/* Specific style for the home page */
.homepage-input {
    background-color: #C7C7C7;

}

/* Specific style for the spreadsheet */
.spreadsheet-input {
    background-color: #C7C7C7;
    width: 250px; /* Different width for this input */
}

nav ul {
    list-style-type: none;
    font-family: sans-serif;
    margin: 0;
    padding: 0;
    text-align: center;
  }
  
nav ul li {
    display: inline-block;
    margin-right: 20px; /* Adjust the space between the links as needed */
  }



